@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;

    --background-primary: 35 41% 75%;
    --background-primary-hover: 35 60% 82%;

    --background-secondary: 0 0% 10%;
    --background-secondary-hover: 0 0% 13%;

    --background-muted: 35 41% 75% / 5%;
    --background-muted-hover: 35 41% 75% / 10%;

    --border: 35 41% 75% / 15%;
    --border-hover: 35 41% 75% / 30%;

    --icon: 35 41% 75% / 100%;
    --icon-inverse: 210 3% 12% / 100%;

    --text: 35 41% 75% / 100%;
    --text-muted: 35 41% 75% / 60%;
    --text-inverse: 210 3% 12% / 100%;
  }
}

@layer base {
  @font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/satoshi/Satoshi-Light.otf) format('opentype');
  }
  @font-face {
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 300;
    src: url(/fonts/satoshi/Satoshi-LightItalic.otf) format('opentype');
  }
  @font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/satoshi/Satoshi-Regular.otf) format('opentype');
  }
  @font-face {
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/satoshi/Satoshi-Italic.otf) format('opentype');
  }

  @font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/satoshi/Satoshi-Medium.otf) format('opentype');
  }
  @font-face {
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 500;
    src: url(/fonts/satoshi/Satoshi-MediumItalic.otf) format('opentype');
  }
  @font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/satoshi/Satoshi-Bold.otf) format('opentype');
  }
  @font-face {
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 700;
    src: url(/fonts/satoshi/Satoshi-BoldItalic.otf) format('opentype');
  }
  @font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 900;
    src: url(/fonts/satoshi/Satoshi-Black.otf) format('opentype');
  }
  @font-face {
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 900;
    src: url(/fonts/satoshi/Satoshi-BlackItalic.otf) format('opentype');
  }

  @font-face {
    font-family: 'Gambetta';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/gambetta/Gambetta-Light.otf) format('opentype');
  }
  @font-face {
    font-family: 'Gambetta';
    font-style: italic;
    font-weight: 300;
    src: url(/fonts/gambetta/Gambetta-LightItalic.otf) format('opentype');
  }
  @font-face {
    font-family: 'Gambetta';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/gambetta/Gambetta-Regular.otf) format('opentype');
  }
  @font-face {
    font-family: 'Gambetta';
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/gambetta/Gambetta-Italic.otf) format('opentype');
  }

  @font-face {
    font-family: 'Gambetta';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/gambetta/Gambetta-Medium.otf) format('opentype');
  }
  @font-face {
    font-family: 'Gambetta';
    font-style: italic;
    font-weight: 500;
    src: url(/fonts/gambetta/Gambetta-MediumItalic.otf) format('opentype');
  }
  @font-face {
    font-family: 'Gambetta';
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/gambetta/Gambetta-Semibold.otf) format('opentype');
  }
  @font-face {
    font-family: 'Gambetta';
    font-style: italic;
    font-weight: 600;
    src: url(/fonts/gambetta/Gambetta-SemiboldItalic.otf) format('opentype');
  }

  @font-face {
    font-family: 'Gambetta';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/gambetta/Gambetta-Bold.otf) format('opentype');
  }
  @font-face {
    font-family: 'Gambetta';
    font-style: italic;
    font-weight: 700;
    src: url(/fonts/gambetta/Gambetta-BoldItalic.otf) format('opentype');
  }


  @font-face {
    font-family: 'Chillax';
    font-style: normal;
    font-weight: 200;
    src: url(/fonts/chillax/Chillax-Extralight.otf) format('opentype');
  }
  @font-face {
    font-family: 'Chillax';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/chillax/Chillax-Light.otf) format('opentype');
  }
  @font-face {
    font-family: 'Chillax';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/chillax/Chillax-Regular.otf) format('opentype');
  }
  @font-face {
    font-family: 'Chillax';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/chillax/Chillax-Medium.otf) format('opentype');
  }
  @font-face {
    font-family: 'Chillax';
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/chillax/Chillax-Semibold.otf) format('opentype');
  }
  @font-face {
    font-family: 'Chillax';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/chillax/Chillax-Bold.otf) format('opentype');
  }
}

@layer base {
  body {
    @apply bg-background text-text font-satoshi;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.1;
  }
}

html {
  scroll-behavior: smooth;
}
textarea {
  border-style: none;
  border-color: Transparent;
  resize: none;
}
input {
  border-style: none;
  border-color: Transparent;
}
